#tree{
	color:red;
	background:; 
	margin-top: 5px;
	height:430px;
	width:230px;
	}
#dev_cms_run{
    	color: blue;
    	margin-left: 350px;
    	background:;
   	 width: 1150px;
   	 height: 560px;
   	 margin-top: 10px;
   	 border-top-width: 30;
	border: 1px solid #a5a5a5!important;
	padding:14px;
	
}
#cmsshowlist{
	
    	margin-top: 10px;
   	 margin-left: 10px;
}
#cmsshowlists{
	position: absolute;
    	width: 350px;
    	height: 290px;
    	margin-top: 0px;
	top:300px
}
div#rMenu {
	background-color:#555555;
	text-align: left;
	padding:2px;
	width:100px;
	position:absolute;
	display:none;
}
div#rMenu ul {
	margin:1px 0;
	padding:0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color:#DFDFDF;
	
}
div#rMenu ul li {
	margin:0;
	padding:2px 0;
}
div#cms_bigdiv{
	margin-top: 200px;
	margin-left: 0px;
	position: absolute;
}
