#tree{
	color:red;
	margin-top: 5px;
	width: 330px;height: 600px
	}
#dev_cms_run{
    	color: blue;
    	margin-left: 350px;
   	 width: 1150px;
   	 height: 560px;
   	 margin-top: 10px;
   	 border-top-width: 30;
	border: 1px solid #a5a5a5!important;
	padding:14px;
	
}
#dev_cms_run div{
	width: 500px;
	height: 100px;
}
#cmsshowlist{
	margin-bottom: 10px;
    	margin-top: 10px;
   	 margin-left: 10px;
}
#cmsshowlists{
	position: absolute;
    	width: 350px;
    	height: 290px;
    	margin-top: 0px;
	top:280px
}
div#rMenu {
	background-color:#555555;
	text-align: left;
	padding:2px;
	width:100px;
	position:absolute;
	display:none;
}
div#rMenu ul {
	margin:1px 0;
	padding:0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color:#DFDFDF;
	
}
div#rMenu ul li {
	margin:0;
	padding:2px 0;
}
div#cms_bigdiv{
	position: absolute;
	margin-top: 150px;
}
#rMenu{
	position: absolute;
}
#allpicture{
	display: none;
	margin: 30px
}
#devcms_show_upload{
	width: 1500px;
	height: 38px
}
#cms_one{
	position:absolute;top:10px;margin: 10px 10px;
}
